<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217754005940-2p19jd25hqaoo5apl8uuuv5blh7b9na5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217754005940-2p19jd25hqaoo5apl8uuuv5blh7b9na5</string>
	<key>API_KEY</key>
	<string>AIzaSyB_HCEmS_8tFz2zsJPUB6zLgowiDrtzXv0</string>
	<key>GCM_SENDER_ID</key>
	<string>217754005940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-cdea8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-cdea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217754005940:ios:9dbe261c0a8b581c8dc2e1</string>
</dict>
</plist>